.profile-header {
  transform: translateY(5rem);
}


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  background: linear-gradient(to right, #654ea3, #eaafc8);
  min-height: 100vh;
}

.btn-group {
  margin-right: 45%;

}

/*
.container{
  padding:5%;
}
.container .img{
  text-align:center;
}
img{
  width: 300px;
}
.container .details{
  border-left:3px solid #ded4da;
}
.container .details p{
  font-size:15px;
  font-weight:bold;
}
*/
